<!DOCTYPE html>
<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="robots" content="nofollow" />
<script>
if (!Date.now) {
    Date.now = function(){
        return new Date().getTime();
    }
}
if (!('indexOf' in Array.prototype)) {
    Array.prototype.indexOf= function(find, i /*opt*/) {
        if (i===undefined){
            i= 0;
        }
        if (i<0){
            i+= this.length;
        }
        if (i<0){
            i= 0;
        }
        for (var n= this.length; i<n; i++){
            if (i in this && this[i]===find){
                return i;
            }
        }
        return -1;
};
}

Array.prototype.unique = function()
{
    var n = {},r=[];
    for(var i = 0; i < this.length; i++)
    {
        if (!n[this[i]])
        {
            n[this[i]] = true;
            r.push(this[i]);
        }
    }
    return r;
};
function Test(){
    var test = 'test';
    try {
        JSON.parse("{}");
        localStorage.setItem(test, test);
        localStorage.removeItem(test);
        return true;
    } catch(e) {
        return false;
    }
};
function UserHistory(){
	this.retargeting = new RetargetingOffers();
    this.exclude_advertizer = new FixedQueue(100);
    this.gender_accounts = new GenderAccount();
    this.gender_user = new GenderUser();
    this.cost_accounts = new CostAccount();
    this.cost_user = new CostUser();
    this.activity_accounts = new ActivityAccount();
    this.activity_user = new ActivityUser();
    this.load = UserHistory.load;
    this.save = UserHistory.save;
};

function getGender(val){
    var result = 0;
    if (val == 'm')
    {
        result = 1;
    }
    else if (val == 'w')
    {
        result = 2;
    }
    else
    {
        result = 0;
    }
    return result;
};

function costRange(val){
    var result = 0;
    if (val>0 && val <= 2500)
    {
        result = 1;
    }
    else if (val>2500 && val <= 4500)
    {
        result = 2;
    }
    else if (val>4500 && val <= 9000)
    {
        result = 3;
    }
    else if (val>9000 && val <= 14000)
    {
        result = 4;
    }
    else if (val>14000 && val <= 16500)
    {
        result = 5;
    }
    else if (val>16500 && val <= 19000)
    {
        result = 6;
    }
    else if (val>19000 && val <= 25000)
    {
        result = 7;
    }
    else if (val>25001)
    {
        result = 8;
    }
    else
    {
        result = 0;
    }
    return result;
};
function FixedQueue(size){
    var queue = new Array();
    queue.fixedSize = size;
    queue.add = FixedQueue.add;
    queue.load = FixedQueue.load;
    queue.remove = FixedQueue.remove;
    return( queue );
};
FixedQueue.add = function(arg1,arg2){
    arg2 = (arg2 || false);
    if (arg2)
    {
        if (arg1 < this.fixedSize)
        {
            this[arg1] = arg2;
        }
    }
    else
    {
        if (this.indexOf(arg1) < 0)
        {
            this.push(arg1);
        }
    }

    if (this.length <= this.fixedSize){
        return;
    }
    Array.prototype.splice.call(
        this,
        0,
        (this.length - this.fixedSize)
    );

};

FixedQueue.load = function(arg1,arg2){
    arg2 = (arg2 || false);
    if (arg2)
    {
        if (arg1 < this.fixedSize)
        {
            this[arg1] = arg2;
        }
    }
    else
    {
        if (this.indexOf(arg1) < 0)
        {
            this.push(arg1);
        }
    }

    if (this.length <= this.fixedSize){
        return;
    }
    Array.prototype.splice.call(
        this,
        0,
        (this.length - this.fixedSize)
    );

};

FixedQueue.remove = function(key){
    var index = this.indexOf(key);
    if (index > -1)
    {
        this.splice(index,1)
    }
};

function GenderAccount(){
    initialValues = new Object({});
    initialValues.add = GenderAccount.add;
    initialValues.load = GenderAccount.load;
    return(initialValues);
};

GenderAccount.add = function(guid, val)
{
    if (typeof this[guid] == 'undefined')
    {
        var hit_log = new Array(0,0,0);
        hit_log[val] += 1;
        this[guid] = [val, hit_log]
    }
    else
    {
        var hit_log = this[guid][1];
        hit_log[val] += 1;
        hit_log[0] = 1;
        this[guid] = [hit_log.indexOf(Math.max.apply(Math, hit_log)), hit_log];
    }
};
GenderAccount.load = function(guid, arg1){
    if( Object.prototype.toString.call( arg1 ) === '[object Array]' ) {
        this[guid] = [arg1[0], arg1[1]];
    }
};
function GenderUser(){
    initialValues = new Object({});
    initialValues.add = GenderUser.add;
    initialValues.load = GenderUser.load;
    return(initialValues);
};
GenderUser.add = function(val)
{
    if (typeof this['gender'] == 'undefined')
    {
        this['gender'] = val;
        var hit_log = new Array(0,0,0);
        hit_log[val] += 1;
        this['hit_log'] = hit_log;
    }
    else
    {
        if( Object.prototype.toString.call( this['hit_log'] ) === '[object Array]' ) {
            var hit_log = this['hit_log'];
            hit_log[val] += 1;
            hit_log[0] = 1;
            this['hit_log'] = hit_log;
            this['gender'] = hit_log.indexOf(Math.max.apply(Math, hit_log));
        }
    }
};
GenderUser.load = function(guid, arg1){
    this[guid] = arg1;
};

function CostAccount(){
    initialValues = new Object({});
    initialValues.add = CostAccount.add;
    initialValues.load = CostAccount.load;
    return(initialValues);
};
CostAccount.add = function(guid, val)
{
    if (typeof this[guid] == 'undefined')
    {
        var hit_log = new Array(0,0,0,0,0,0,0,0,0);
        hit_log[val] += 1;
        this[guid] = [val, hit_log]
    }
    else
    {
        var hit_log = this[guid][1];
        hit_log[val] += 1;
        hit_log[0] = 1;
        this[guid] = [hit_log.indexOf(Math.max.apply(Math, hit_log)), hit_log];
    }
};
CostAccount.load = function(guid, arg1){
    if( Object.prototype.toString.call( arg1 ) === '[object Array]' ) {
        this[guid] = [arg1[0], arg1[1]];
    }
};

function CostUser(){
    initialValues = new Object({});
    initialValues.add = CostUser.add;
    initialValues.load = CostUser.load;
    return(initialValues);
};
CostUser.add = function(val)
{
    if (typeof this['cost'] == 'undefined')
    {
        this['cost'] = val;
        var hit_log = new Array(0,0,0,0,0,0,0,0,0);
        hit_log[val] += 1;
        this['hit_log'] = hit_log;
    }
    else
    {
        if( Object.prototype.toString.call( this['hit_log'] ) === '[object Array]' ) {
            var hit_log = this['hit_log'];
            hit_log[val] += 1;
            hit_log[0] = 1;
            this['hit_log'] = hit_log;
            this['cost'] = hit_log.indexOf(Math.max.apply(Math, hit_log));
        }
    }
};
CostUser.load = function(guid, arg1){
    this[guid] = arg1;
};
function ActivityAccount(){
    initialValues = new Object({});
    initialValues.add = ActivityAccount.add;
    initialValues.load = ActivityAccount.load;
    return(initialValues);
};
ActivityAccount.add = function(guid, timeFirst, timeLast){
    if (typeof this[guid] == 'undefined')
    {
        this[guid] = [timeFirst, timeLast];
    }
    else
    {
        this[guid][1] = timeLast;
    }
};
ActivityAccount.load = function(guid, arg1){
    if( Object.prototype.toString.call( arg1 ) === '[object Array]' ) {
        this[guid] = [arg1[0], arg1[1]];
    }
};

function ActivityUser(){
    initialValues = new Object({});
    initialValues.add = ActivityUser.add;
    initialValues.load = ActivityUser.load;
    return(initialValues);
};
ActivityUser.add = function(timeFirst, timeLast){
    if (typeof this['timeFirst'] == 'undefined')
    {
        this['timeFirst'] = timeFirst;
    }
    this['timeLast'] = timeLast;
};
ActivityUser.load = function(guid, arg1){
    this[guid] = arg1;
};

function RetargetingOffers(){
    initialValues = new Object({});
    initialValues.add = RetargetingOffers.add;
    initialValues.load = RetargetingOffers.load;
    initialValues.remove = RetargetingOffers.remove;
    return(initialValues);
};

RetargetingOffers.add = function(guid, arg1, arg2, arg3, arg4){
    this[guid] = [arg1, arg2, arg3, arg4];
};

RetargetingOffers.load = function(guid, arg1){
    if( Object.prototype.toString.call( arg1 ) === '[object Array]' ) {
        if (typeof arg1[3] == 'undefined')
        {
            arg1[3] = arg1[0]
        }
        this[guid] = [arg1[0], arg1[1], arg1[2], arg1[3]];
    }
};


RetargetingOffers.remove = function(key){
    delete this[key]
};

UserHistory.load = function(){
    if (Test() === true)
    {
        for (key in this)
        {
            if (typeof(this[key]) !== 'function')
            {
                var history_name = key;
                var jobj = localStorage.getItem(history_name);
                if  (typeof(jobj) === "string" && jobj.length > 0)
                {
                    var retrievedObject = JSON.parse(jobj);
                    for ( key in retrievedObject)
                    {
                        this[history_name].load(key, retrievedObject[key]);
                    }
                }
            }
        }
        return true;
    }
    return false;
};
UserHistory.save = function(){
    if (Test() === true)
    {
        for (key in this)
        {
            if (typeof(this[key]) !== 'function')
            {
                localStorage.setItem(key, JSON.stringify(this[key]));
            }
        }
        return true;
    }
    return false;
};

var uh = new UserHistory();
uh.load();
var ids = '{{offer_id}}'.split(','),
    second = '{{time}}',
    ac_id = '{{account_id}}',
    gender = '{{gender}}',
    cost = '{{cost}}',
    action, target, offer_type,offer_id,tmp=[];

if (ac_id != '')
{
    for (id in ids)
    {
        if (ids[id].length > 3)
        {
            tmp = ids[id].split('~');
            action = tmp[0];
            offer_id = tmp[1];
            target = tmp[2];
            offer_type = tmp[3];
            offer_type = typeof offer_type == 'string' && (offer_type == 'retargeting' || offer_type == 'exclude_advertizer') ? offer_type : 'retargeting';
            action = typeof action == 'string' && (action == 'add' || action == 'remove') ? action : 'add';
            target = typeof target == 'string' ? target : '';
            if (offer_type == 'retargeting')
            {
                uh[offer_type][action](offer_id + '...' + ac_id, Math.floor(Date.now())+(second*1000), ac_id,target, Math.floor(Date.now()/1000));
            }
            else if (offer_type == 'exclude_advertizer')
            {
                uh[offer_type][action](offer_id + '...' + ac_id);
            }
        }
    }
    uh.activity_accounts.add(ac_id, Date.now() * 1000, Date.now() * 1000);
    uh.activity_user.add(Date.now() * 1000, Date.now() * 1000);
    uh.cost_accounts.add(ac_id, costRange(cost));
    uh.cost_user.add(costRange(cost));
    uh.gender_accounts.add(ac_id, getGender(gender));
    uh.gender_user.add(getGender(gender));
}
uh.save();
</script>
</head>
<body>
</body>
</html>